<h1>Jokes</h1>
<div>
  <h3>Settings</h3>

  <form (ngSubmit)="customJoke()">
  <label for="nsfw-jokes">Include nsfw/inappropriate jokes</label>
  <input [(ngModel)]="uncensored" type="checkbox" id="nsfw-jokes" name="nsfw-jokes" value="no-nsfw"   ><br>


  <label for="nsfw-jokes">How many jokes do you want?: </label>
  <input [(ngModel)]="amount" type="input" id="amount_jokes" name="amount_jokes" ><br>
  <button type="submit">Get these jokes</button>
  </form>
  
  
</div>

<table *ngFor="let joke of jokes">

      <tr>
        <td><b>Joke: </b>{{joke.joke}}</td>
        <td><b>Category: </b>{{joke.category}}</td>
        <td><button (click)="likes(joke)">Like</button><button (click)="disLikes(joke)">DisLike</button></td>
        <td><b>Likes: </b>{{joke.likes}}</td>
        <td><b>Dislikes: </b>{{joke.dislikes}}</td>
      </tr>

      <tr class="comments">
        <th>Comments</th>
        <th><button (click)="openCommentsDialog(joke)">Add a comment</button></th>
      </tr>

      <tr *ngFor="let comment of joke.comments">
        <td><b>{{comment[1]}}: </b>{{comment[2]}}</td>
      </tr>

</table>

