<h1>Jokes</h1>
<table *ngFor="let joke of jokes">

      <tr>
        <td><b>Joke: </b>{{joke.joke}}</td>
        <td><b>Category: </b>{{joke.category}}</td>
        <td><button (click)="likes(joke)">Like</button><button (click)="disLikes(joke)">DisLike</button></td>
        <td><b>Likes: </b>{{joke.likes}}</td>
        <td><b>Dislikes: </b>{{joke.dislikes}}</td>
      </tr>

      <tr class="comments">
        <th>Comments</th>
        <th><button (click)="openCommentsDialog(joke)">Add a comment</button></th>
      </tr>

      <tr *ngFor="let comment of joke.comments">
        <td><b>{{comment[1]}}: </b>{{comment[2]}}</td>
   

      </tr>

</table>

