th{
    background-color: rgb(123, 123, 212);
    text-align: center;
}

table {
    width: 100vh;
    margin-top:5vh;
    background-color:rgb(209, 207, 207);
    margin-left: 10vh;
    
}
td  {margin-right: 10px; text-align: center;

}

h1{
    text-align: center;
}
div{
    margin-left: 10vh;

}